<!DOCTYPE html>
<html lang="hu">
<head>

    <!--meta-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--javascript-->

    <!--styles-->
    <link rel="stylesheet" href="../styles/indexstyle.css">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!--fonts,icons...-->

    <!--többike-->
    <link rel="icon" type="image/x-icon" href="../src/img/favicon.png">
    <title>KajcsÍ</title>
</head>
<body>
    <!--navbar-->
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand pe-5 ps-3" href="../view/index.html">KajcsÍ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a id="navb" class="nav-link active px-3" aria-current="page" href="../view/index.html">Főoldal</a>
              </li>
              <li class="nav-item">
                <a id="navb" class="nav-link active px-3" href="../view/kapcsolat.html">Kapcsolat</a>
              </li>
              <li class="nav-item">
                <a id="navb" class="nav-link active px-3" href="#termekek">Termékek</a>
              </li>
            </ul>
            <span class="navbar-text">
              
            </span>
          </div>
        </div>
      </nav> 

      <div id="carouselExample" class="carousel slide carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../src/img/slider2.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../src/img/slider3.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../src/img/slider1.png" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Előző</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Következő</span>
        </button>
      </div>


  <p class="termekek" id="termekek" >Termékek</p>
  <hr class="vonal">


  <div class="gallery">
    <div class="content">
      <img class="kepCard" src="../src/img/milka.png">
      <h3>Milka</h3>
      <p></p>
      <h6>429 Ft</h6>
      <a href="#"><button class="buy-1">Kosárba</button></a>
    </div>
    <div class="content">
      <img class="kepCard" src="../src/img/milkyway.png">
      <h3>Milkyway</h3>
      <p></p>
      <h6>259 Ft</h6>
      <a href="#"><button class="buy-1">Kosárba</button></a>
    </div>
    <div class="content">
      <img class="kepCard" src="../src/img/oreo.png">
      <h3>Oreo</h3>
      <p></p>
      <h6>659 Ft</h6>
      <a href="#"><button class="buy-1">Kosárba</button></a>
    </div>
    <div class="content">
      <img class="kepCard" src="../src/img/twix.png">
      <h3>Twix</h3>
      <p></p>
      <h6>270 Ft</h6>
      <a href="#"><button class="buy-1">Kosárba</button></a>
    </div>
    <div class="content">
      <img class="kepCard" src="../src/img/lays.png">
      <h3>Lays</h3>
      <p></p>
      <h6>549 Ft</h6>
      <a href="#"><button class="buy-1">Kosárba</button></a>
    </div>
    <div class="content">
      <img class="kepCard" src="../src/img/ropi.png">
      <h3>Ropi</h3>
      <p></p>
      <h6>200 Ft</h6>
      <a href="#"><button class="buy-1">Kosárba</button></a>
    </div>
    <div class="content">
      <img class="kepCard" src="../src/img/pringles.png">
      <h3>Pringles</h3>
      <p></p>
      <h6>1400 Ft</h6>
      <a href="#"><button class="buy-1">Kosárba</button></a>
    </div>
    <div class="content">
      <img class="kepCard" src="../src/img/bundasmogyi.png">
      <h3>Bundás mogyoró</h3>
      <p></p>
      <h6>349 Ft</h6>
     <a href="#"><button class="buy-1">Kosárba</button></a>
    </div>
  </div>

</body>
</html> 